div.content {
	background-color: red;
	text-align: center;
}

ul.horizonal {
	list-style-type: none;
	padding: 20px;
	margin: 10px;
}

li.horizonal {
	font-size: 40px;
	padding: 20px;
	display: inline;
}

.center {
	text-align: center;
}

div.menu {
    position: relative;
    left: 140px;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 120px;
    height:80px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}